.employees {
  list-style: none;
  width: 100%;
}

.employees__link {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 80px;

  &:hover {
    background-color: rgb(231, 230, 230);
  }
}

.employees__avatar {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  object-fit: cover;
}

.employees__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  margin-right: auto;

  .employees__row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_name {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
  }

  &_position {
    opacity: 60%;
    font-size: 13px;
    white-space: nowrap;
  }
}

.employees__tag {
  opacity: 60%;
  font-size: 14px;
  white-space: nowrap;
  margin: 0;
}

.employees-list {
  margin: 0;
  padding: 0;

  &_items {
    list-style-type: none;
  }

  &_year {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    opacity: 0.5;
    margin: 24px 0;
    position: relative;

    &::before,
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #ccc;
      margin: 0 16px;
    }
  }
}
