.employees {
  display: flex;
  // flex-direction: column;
  height: 84px;
  width: 267px;

  &__avatar {
    display: block;
    border-radius: 50%;
    // width: 88px;
    height: 74px;
  }
  &__info {
    height: 60px;
    width: 179px;
    margin-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;

    &_name {
      font-size: 18px;
      font-weight: bold;
    }
    &_position {
      opacity: 60%;
    }
  }
  &__tag {
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0;
    opacity: 60%;
  }
}
.content {
  margin-top: 20px;
}
