.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(226, 218, 218);
  padding: 50px 16px 6px;

  &__title {
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 16px;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    padding: 0 16px 0 8px !important;
    background-color: rgb(247, 247, 248);

    &_input-conteiner {
      margin-left: 15px;
    }

    &_input {
      border: none;
      background-color: rgb(247, 247, 248);
      width: 900px;
      padding-right: 10px;
      &:focus {
        outline: none;
      }
    }

    &_btn {
      background-color: rgb(247, 247, 248);
      border: none;
      width: 40px;
      height: 40px;
      transform: rotate(-90deg);
      padding: 10px;
      border-radius: 50%;

      &:hover {
        background-color: rgb(232, 219, 219);
      }
    }
  }

  &__conteiner {
    display: flex;

    &_btn {
      background-color: rgb(255, 255, 255);
      border: none;
      padding: 8px 12px 9px;
      height: 36px;
      opacity: 60%;
      font-weight: 500;
      font-size: 15px;
      text-transform: none;
      color: #97979b;

      &:hover {
        opacity: 100%;
        border-bottom: solid 2px #6534ff;
      }
    }
  }
}
