.searchError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 77vh;
  padding-top: 23px;

  &__picture {
    height: 100px;
    width: 100px;
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
  }

  &__text {
    color: #97979b;
    margin: 4px 0 -5px;
  }
}

.ifa-solid .fa-magnifying-glass {
  width: 100px;
  height: 100px;
}
