.employee-card {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  &__avatar {
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 230, 230);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;

    &_birth {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
      gap: 8px;
    }
    &_age {
      opacity: 60%;
    }
    &_email {
      margin-top: 20px;
    }
    &_phone {
      margin-top: 20px;
    }
  }
}

.employee-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.fa-solid,
.fa-regular {
  padding-right: 15px;
}
