.employee-card {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  text-transform: capitalize;

  &__avatar {
    border-radius: 50%;
    margin: 20px;
    width: 104px;
    height: 104px;
  }

  &__name {
    margin: 0;
    padding: 10px;
    font-size: 24px;
  }

  &__position {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 300;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 280px;
    background-color: #f7f7f8;
    padding-bottom: 24px;
  }

  &__info {
    padding: 8px 16px;

    &_birth {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
      gap: 8px;
    }

    &_age {
      opacity: 60%;
    }
  }
}
.info {
  display: flex;
  align-items: center;
  min-height: 60px;
  font-weight: 500;
  margin-bottom: 7px;
}

.employee-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.fa-solid,
.fa-regular {
  padding-right: 15px;
}
